# Marko - Environment Variables Template
# Salin file ini menjadi .env di root directory proyek jika ingin mengubah konfigurasi default.

# Nama Aplikasi (Opsional)
VITE_APP_NAME=Marko

# API URL untuk TheMealDB (Jika di masa mendatang ingin diarahkan ke proxy atau endpoint custom)
VITE_THEMEALDB_API_URL=https://www.themealdb.com/api/json/v1/1
